<p id="notice"><%= notice %></p>

<h1>Fan Ids</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Fandom</th>
      <th>Fan img</th>
      <th>Nickname</th>
      <th>Msg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fan_ids.each do |fan_id| %>
      <tr>
        <td><%= fan_id.user %></td>
        <td><%= fan_id.fandom %></td>
        <td><%= fan_id.fan_img %></td>
        <td><%= fan_id.nickname %></td>
        <td><%= fan_id.msg %></td>
        <td><%= link_to 'Show', fan_id %></td>
        <td><%= link_to 'Edit', edit_fan_id_path(fan_id) %></td>
        <td><%= link_to 'Destroy', fan_id, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fan', new_fan_id_path %>
