<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @fan_id.user %>
</p>

<p>
  <strong>Fandom:</strong>
  <%= @fan_id.fandom %>
</p>

<p>
  <strong>Fan img:</strong>
  <%= @fan_id.fan_img %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @fan_id.nickname %>
</p>

<p>
  <strong>Msg:</strong>
  <%= @fan_id.msg %>
</p>

<%= link_to 'Edit', edit_fan_id_path(@fan_id) %> |
<%= link_to 'Back', fan_ids_path %>
